---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bienvenido a SVG-SHOP">
</Layout>
<body>
    <main>
    <h1 class="error">ERROR 404</h1>
    <h3 class="error">PAGE NOT FOUND</h3>
    </main>
</body>
<style>
    .error{
    text-align: center;
    margin: 100px;
    font-size: 30px;
    }
</style>