---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { SignIn, SignOut } from 'auth-astro/components';
import { getSession } from 'auth-astro/server';
---

<Layout title="Welcome to Astro.">
	<header>
			<div class="head">
				<a href="/">SVG SHOP</a>
			</div>
			<button id="logout">Logout</button>
	</header>
	<hr>
	<main>
		<button id="login">Login</button>

		<script>
			const { signIn, signOut } = await import("auth-astro/client")
				
			const $login = $("#login")
			const $logout = $("logout")

			$login.onclick = () => signIn("discord")
			$logout.onclick = () => signOut()
		</script>

	</main>
</Layout>

<style>
	.head {
		text-align: center;
		padding: 5px;

	}
	a {
		color: rgb(255, 0, 212);
		text-decoration: none;
	}
	hr {
		border-color: rgb(255, 0, 212);
	}
	header {
		font-family: "GraffitiBubble";
		font-size: 150px;

	}
	#logout {
		align-items: right: inherit;
	}
</style>


		
