---
import Layout from "./Layout.astro";
---



    <section class="intro">
        <div class="introtxt">DESCUBRE LA MEJOR TIENDA </div>
        <button class="login" id="login" >Iniciar sesion</button>

    </section>


<script>
	import { signIn, signOut } from 'auth-astro/client'; // Importa las funciones de autenticación
        document.getElementById("login")!.onclick = async () => {
    try {
        await signIn('discord'); // Inicia sesión con Discord
        // Aquí puedes añadir lógica adicional después de iniciar sesión exitosamente
	} catch (error) {
        console.error('Error al iniciar sesión:', error);
        // Manejar errores de inicio de sesión aquí
    }
    };
    // Maneja el click en el botón de logout
	</script>	

    <style>
        .login{
            margin:40px;
            padding: 15px 25px;
            font-size: 16px;
            border: 5px solid rgb(255, 0, 212);
            color: white;
            cursor: pointer	;
            font-family: PeterQuincy;
            font-size: 30px;
            background: linear-gradient(to left, #515151 50%, rgb(255, 0, 212) 50%);
            background-size: 200%;
            background-position: right;
            transition: .6s;
        }
        .login:hover{
            background-position: left;
            color: black;
            font-weight: 700;
            transform: scale(1.1);
        }
        .intro{
            text-align: center;
            padding: 5px;
            margin: 10px;
        }

        .introtxt{
		text-align: center;
        font-family: PeterQuincy;
        font-size: 35px;
        margin: 5px;
        

	}
    
    </style>