---
import { SignIn, SignOut } from 'auth-astro/components';
import { getSession } from 'auth-astro/server';
import Layout from '../../layouts/Layout.astro';

const session = await getSession(Astro.request)
---

<header class="header">
    <nav class="nav">
        <div class="nav_container">
            <a href="#menu" class="nav_menu">
                <img src="../public/images/SVG-SHOP.webp" class="nav_icon">
            </a>
            <a href="#" class="nav_menu nav_menu_second">
                <img src="../public/images/close.webp" class="nav_icon">
            </a>
        
            <ul class="dropdown" id="menu">
                <li class="dropdown_list">
                    <img class="profile_image" src={session && session.user ? session.user.image : '/path_to_default_image.jpg'} alt="Imagen de usuario">
                    <p class="shop">Sesion iniciada como {session && session.user ? session.user.name : 'Usuario' }!</p>
                </li>
                <li class="dropdown_list1">
                    <button id="logout">Cerrar sesion</button>
                </li>
            </ul>
        </div>
    </nav>
    <div class="logo">
<img src="">
    </div>
</header>




    <style>
        .session.user.name{
            color: red;
        }
        .profile_image{
            border-radius: 50%;
            width: 80px;
            height: 80px;
            margin: 30px;
        }
        .nav{
            padding: 5px;
            --img1: scale(1);
            --img2: scale(0);
        }
        .nav:has(.dropdown:target){
            --img1: scale(0);
            --img2: scale(1);

            --clip:inset(0 0 0 0 );
        }
    
        .nav_container{
            width: 90%;
            margin: 0 auto;
            height: 70px;
            padding: 10px;

            display:  grid;
            grid-template-columns:  max-content max-content;
            grid-template-areas: "title img";
            justify-content: space-between;
            align-items: center;

            overflow: hidden;
        }
        .nav_title{
            color: white;
            grid-area: title;

        }
        .nav_menu{
            grid-area: img;
            position: relative;
            z-index: 10;

            transform: var(--img1);
        }
        .nav_menu_second{
            transform: var(--img2);
        }

        .nav_icon{
            width: 90px;
            display: block;
            margin: 5px;
        }
        .dropdown{
            height: 300px;
            margin-top: 230px;
            margin-right: 110px;
            position: absolute;
            border: 4px solid white;
            background: rgb(0,0,0);
            background: linear-gradient(180deg, rgba(0,0,0,1) , rgba(81,81,81,1) 100%);
            width: 500px;
            right: 0;
            top: 1;
            bottom: 1;
            max-width: 600px;
            padding: 1em;
            display: grid;
            gap: 1rem;
            overflow-y: auto;
            clip-path: var(--clip, inset(0 0 100% 100%));
            transition: clip-path .5s;
            border-radius: 50px;
            list-style: none        
        }
        .dropdown_list{
            color: white;
            display: flex;
            justify-content: space-between;
            margin: 10px;
            padding-right: 80px;
        }
        .dropdown_list1{
            text-align: center;
        }
            
        .shop{
            text-align: center;
            font-family: PeterQuincy;
            max-width: 350px;
            font-size: 35px;

        }
    </style>
<script>
    import { signIn, signOut } from 'auth-astro/client'; // Importa las funciones de autenticación
    document.getElementById("logout")!.onclick = async () => {
try {
    await signOut(); // Cierra sesión
    // Aquí puedes añadir lógica adicional después de cerrar sesión exitosamente
} catch (error) {
    console.error('Error al cerrar sesión:', error);
    // Manejar errores de cierre de sesión aquí
}
};
</script>