---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ES/EN">
	<head>
		<meta charset="ISO-8859-1/UTF-8/ISO-8859-5" />
		<meta name="description" content="IvanDev" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
		@font-face {
		font-family: GraffitiBubble;
		src: url(/fonts/GraffitiBubble-DemoVersion-Regular.ttf);
		font-style: normal;
	}
	@font-face {
		font-family: PeterQuincy;
		src: url(/fonts/Peter Quincy Sans.otf);
		font-style: normal;
		}
	

		
	html {
		font-family: system-ui, sans-serif;
		background-color: white;
		background-size: 224px;
	}
	

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>

<script src="https://kit.fontawesome.com/8f2e26be6e.js" crossorigin="anonymous"></script>